# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2026 Yeming Dai
# Install with the Homebrew Python 3.11 virtual environment documented in environment_report.md.
PyInstaller==6.21.0
pytest==8.4.2
